<style>
    #attack {

    }

    #decay {

    }

    #sustain {

    }

    #release {

    }

    #submode {
        position: absolute;
        bottom: 17px;
        width: 100%;
    }

    #submode span {
        width: 23%;
        text-align: center;
        display: inline-block;
    }
</style>

<span id="attack">{{attack}}</span>
<span id="decay">{{decay}}</span>
<span id="sustain">{{sustain}}</span>
<span id="release">{{release}}</span>