<style>
    body {
        text-align: center;
    }

    h6 {
        font-size: 16px;
    }

    .progressbar-container {
        padding: 0.01em 16px;
    }

    .progressbar-green,
    .progressbar-hover-green:hover {
        color: #fff !important;
        background-color: #4CAF50 !important;
    }

    .progressbar {
        color: #000 !important;
        background-color: #f1f1f1 !important;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 8px;
    }

    #title {
        margin-top: 16%;
        margin-bottom: 2px;
    }

    #description {
        font-size: 0.8em;
    }
</style>

<h6 id="title">Downloading File</h6>
<div class="progressbar">
    <div id="progressbar" class="progressbar-container progressbar-green" style="height:24px;width:1%"></div>
</div>
<span id="description"></span>
<div id="error"></div>