<style>
    .list {
        padding-left: 0;
    }

    .list > li {
        padding-left: 1rem;
        list-style: none;
        height: 55px;
        border-bottom: 1px solid #f16f00;
    }

    .list .name {
        overflow: hidden;
        width: 100%;
        height: 1rem;
    }

    .list .star, .list .mono, .list .samplerate {
        float: right;
        margin-right: 1rem;
    }

    .list .duration {
        float: right;

    }

    .list .active {
        background: rgba(242, 139, 12, 0.5);
        color: white;
    }

    .list i.fa {
        font-size: 0.7em;
    }

    span.count {
        position: absolute;
    }

    #loading.show {
        width: 100%;
        height: 100%;
        background: black;
        display: block;
        position: absolute;
        top: 0;
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
        padding-top: 83px;
    }

    #loading.show i {
        animation: 1s rotateRight infinite linear;
    }

    #loading {
        display: none;
    }

    @keyframes rotateRight {
        100% {
            transform: rotate(360deg);
        }
    }

    #info {
        position: absolute;
        background: black;
        width: 95%;
        height: 93%;
        display: none;
        top: 5px;
        right: 8px;
        border: 1px solid #f16f00;
    }

    #info.show {
        display: block;
    }

    #info-template {
        display: none
    }
</style>

<span class="count">{{count}}</span>

<ul class="list">
    {{#each results}}
    <li class="{{#if active}}active{{/if}}" id="{{id}}">
        <div class="name">{{inc @index}} {{name}}</div>
        <br>
        <div class="duration">{{duration}}</div>
        <div class="mono">
            {{#unless mono}}
            <i class="fa fa-volume-up fa-flip-horizontal"></i>
            {{/unless}}
            <i class="fa fa-volume-up"></i>
        </div>
        <div class="samplerate">{{samplerate}}</div>
        <div class="star">{{avg_rating}} <i class="fa fa-star"></i></div>
    </li>
    {{/each}}
</ul>

<div id="info">

</div>


<div id="loading">
    <i class="fa fa-spinner"></i> Loading data. Please wait.
</div>

